<table class="w-full border-collapse border border-[#1e3a8a] rounded-lg overflow-hidden bg-[#05113a]">
  <thead>
      <tr>
          @for(column of ['firstName', 'lastName', 'email', 'age', 'salary', 'dob', 'address', 'contactNumber'];track column)
          { 
          <th 
              (click)="handleSort(column)" 
              class="p-2 bg-gray-800 text-gray-200 cursor-pointer hover:bg-[#1e3a8a] transition duration-200">
              {{ column | titlecase }}
              @if(sortColumn === column)
              {
                  <span >
                      {{ sortDirection === 'asc' ? '▲' : '▼' }}
                  </span>
              }
          </th>
          }
          <th class="p-2 bg-gray-800 text-gray-200">Actions</th>
      </tr>
  </thead>
  <tbody>
      @for(employee of employees;track employee) {
      <tr class="hover:bg-[#1e3a8a] transition duration-200">
          <td class="p-2 border border-[#1e3a8a] text-gray-200">{{ employee.firstName }}</td>
          <td class="p-2 border border-[#1e3a8a] text-gray-200">{{ employee.lastName }}</td>
          <td class="p-2 border border-[#1e3a8a] text-gray-200">{{ employee.email }}</td>
          <td class="p-2 border border-[#1e3a8a] text-gray-200">{{ employee.age }}</td>
          <td class="p-2 border border-[#1e3a8a] text-gray-200">{{ employee.salary | currency:'USD':'symbol':'1.0-0' }}</td>
          <td class="p-2 border border-[#1e3a8a] text-gray-200">{{ employee.dob }}</td>
          <td class="p-2 border border-[#1e3a8a] text-gray-200">{{ employee.address }}</td>
          <td class="p-2 border border-[#1e3a8a] text-gray-200">{{ employee.contactNumber }}</td>
          <td class="p-2 border border-[#1e3a8a]">
              <button (click)="handleDelete(employee.id)" 
                  class="w-auto border-solid border-2 border-white hover:border-[#ce573e] hover:text-[#ce573e] text-white font-semibold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#34d399] focus:ring-opacity-50 flex items-center justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                  </svg>
              </button>
          </td>
      </tr>
      }
  </tbody>
</table>
