<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Employee List</h1>

  <!-- Search and Add Employee -->
  <div class="mb-4 flex justify-between items-center">
    <button
      class="bg-blue-500 text-white p-2 rounded"
      (click)="toggleFilter()"
    >
      {{ showFilter ? 'Hide' : 'Show' }} Filters
    </button>
    <div>
      <button (click)="openAddEmployeeModal()" class="bg-blue-500 text-white px-4 py-2 rounded">Add Employee</button>
      
      <!-- Modal for Adding Employee -->
       @if (showAddEmployeeForm){
        <app-add-employee-modal 
        (Employee)="handleEmployeeAdded($event)" 
        (closeModal)="showAddEmployeeForm = false">
      </app-add-employee-modal>
       }
      
  </div>

  <!-- Collapsible Filter Section -->
   @if (showFilter) {
    <app-employee-filters (filterEmployees)="filterEmployees($event)"></app-employee-filters>

   }
  

<!-- Employee Table -->
<app-employee-table 
    [employees]="filteredEmployees.slice((page - 1) * pageSize, page * pageSize)">
  </app-employee-table>

  @if (filteredEmployees.length === 0)
  {
      <div  class="text-center py-4">
          No employees found.
        </div>
  }
  
  <app-pagination 
  [totalPages]="totalPages" 
  [pageSize]="pageSize" 
  [currentPage]="page" 
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="changePageSize($event)">
</app-pagination>

   
    
   
  </div>
</div>