<div class="p-4">
  <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
    <div class="mb-4">
      <input
        type="text"
        [(ngModel)]="firstName"
        name="firstName"
        placeholder="First Name"
        class="p-2 border border-[#1e3a8a] rounded w-full sm:w-full bg-[#010729] text-gray-200 focus:outline-none focus:ring-2 focus:ring-[#3b82f6] focus:border-transparent"
        required
        #firstNameField="ngModel"
      />
      @if (firstNameField.invalid && firstNameField.touched) {
        <div class="text-red-500 text-sm">
          First name is required.
        </div>
      }
     
    </div>

    <div class="mb-4">
      <input
        type="text"
        [(ngModel)]="lastName"
        name="lastName"
        placeholder="Last Name"
        class="p-2 border border-[#1e3a8a] rounded w-full sm:w-full bg-[#010729] text-gray-200 focus:outline-none focus:ring-2 focus:ring-[#3b82f6] focus:border-transparent"
        required
        #lastNameField="ngModel"
      />
      @if (lastNameField.invalid && lastNameField.touched) {
        <div  class="text-red-500 text-sm">
          Last name is required.
        </div>
      }
      
    </div>

    <div class="mb-4">
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email address"
        class="p-2 border border-[#1e3a8a] rounded w-full sm:w-full bg-[#010729] text-gray-200 focus:outline-none focus:ring-2 focus:ring-[#3b82f6] focus:border-transparent"
        required
        email
        #emailField="ngModel"
      />
      @if(emailField.invalid && emailField.touched){
        <div class="text-red-500 text-sm">
          Please enter a valid email.
        </div>
      }
   
    </div>

    <div class="mb-4">
      <input
        type="number"
        [(ngModel)]="age"
        name="age"
        placeholder="Age"
        class="p-2 border border-[#1e3a8a] rounded w-full sm:w-full bg-[#010729] text-gray-200 focus:outline-none focus:ring-2 focus:ring-[#3b82f6] focus:border-transparent"
        required
        min="18"
        max="65"
        #ageField="ngModel"
      />
      @if (ageField.invalid && ageField.touched) {
        <div  class="text-red-500 text-sm">
          Age must be between 18 and 65.
        </div>
      }
    
    </div>

    <div class="mb-4">
      <input
        type="number"
        [(ngModel)]="salary"
        name="salary"
        placeholder="Salary"
        class="p-2 border border-[#1e3a8a] rounded w-full sm:w-full bg-[#010729] text-gray-200 focus:outline-none focus:ring-2 focus:ring-[#3b82f6] focus:border-transparent "
        required
        min="1000"
        #salaryField="ngModel"
      />
      @if(salaryField.invalid && salaryField.touched){
        <div class="text-red-500 text-sm">
          Salary must be at least 1000.
        </div>
      }
     
    </div>

    <div class="mb-4">
      <input
        type="date"
        [(ngModel)]="dob"
        name="dob"
        placeholder="Date of Birth"
        class="p-2 border border-[#1e3a8a] rounded w-full sm:w-full bg-[#010729] text-gray-200 focus:outline-none focus:ring-2 focus:ring-[#3b82f6] focus:border-transparent"
        required
        #dobField="ngModel"
      />
      @if (dobField.invalid && dobField.touched) {
        <div  class="text-red-500 text-sm">
          Date of Birth is required.
        </div>
      }
      
    </div>

   
    <button type="submit" 
    aria-label="Add employee"
           class="justify-center border-solid border-2 border-white hover:border-[#ce573e] hover:text-[#ce573e] text-white p-2 rounded-md hover:from-[#2563eb] hover:to-[#10b981] transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#3b82f6] focus:ring-opacity-50 flex items-center " [disabled]="employeeForm.invalid">
       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
      </svg>
    
      Add Employee
    </button>
  </form>
</div>
